@font-face {
  font-family: 'Gotham Bold';
  src: url('~@/assets/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham Book';
  src: url('~@/assets/fonts/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham Light';
  src: url('~@/assets/fonts/Gotham-Light.otf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

hr {
  border-top: 1px solid #CCC;
}

h2 {
  font-family: 'Gotham Book', sans-serif;
  font-size: 22px;
  line-height: 26px;
  &.header {
    background-color: #EDF6FD;
    border-bottom: 1px solid #CCC;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 15px;
    height: 52px;
    line-height: 52px;
    margin-bottom: 32px;
    padding: 0 20px;
  }
  &.header-sticky {
    background-color: #FFF;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

h3 {
  color: #000;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.iati-viz {
  .custom-loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    .spinner-border {
      border: 0.25em solid #999;
      border-right-color: transparent;
    }
  }
  p.small {
    font-size: 12px;
    line-height: 15px;
  }
  .horizontal-list {
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
    }
  }
  .badge.info-icon {
    &.badge-dark {
      background-color: #000;
    }
    &.badge-pill {
      height: 14px;
      line-height: 14px;
      text-align: center;
      width: 14px;
    }
  }
  .form-select {
    border: 1px solid #CCC;
    color: #000;
    font-family: 'Gotham Bold', sans-serif;
  }
  .btn-group {
    border-radius: 9px;
    border: 1px solid #888;
    padding: 2px;
    width: 146px;
    .btn.btn-secondary {
      border: 0;
      border-radius: 9px;
      background-color: #FFF;
      color: #1E1E1E;
      font-family: 'Gotham Bold', sans-serif;
      font-size: 12px;
      line-height: 28px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      transition: all 0.5s ease;
      &.active {
        background-color: #333;
        color: #FFF;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .vs__clear {
    display: none;
  }
}